<div class='homepage_container'>
  <div class='homepage_item' id='about'></div>
  <div class='homepage_item' id='projects'></div>
  <div class='homepage_item' id='blog'></div>
  <div class='homepage_item' id='contact'></div>
</div>