psql:
  user: <your-psql-username>
  password: <your-psql-password>
  host: <your-psql-host>
  dbname_development: home_server_development
  dbname_test: home_server_test
  dbname_production: home_server_production

recaptcha:
  site_key: test
  site_secret: test

twilio:
  dev_number: <your-twilio-test-number>
  account_sid: <your-twilio-test-account-sid>
  auth_token: <your-twilio-test-account-token>
  verify_service_sid: <your-twilio-verify-service-sid>

email:
  host: <email-host>
  asset_host: <asset-host>
  default_email: <default-contact-email>
  no_reply_email: <noreply-email>
  default_name: <signoff-email>
  company_name: <company-email>

secret_key_base: <test-secret-key-base>