<div class='dashboard_sidebar' data-controller='dashboard-sidebar' data-target='dashboard-sidebar.sidebar' data-dashboard-sidebar-open='false'>
  <h2>
    Dashboard
  </h2>
  <a href='/admin' class='dashboard_button menu_button'>
    General
  </a>
  <a href='/admin/notifications' class='dashboard_button menu_button'>
    Notifications
  </a>
  <a href='/admin/analytics' class='dashboard_button menu_button'>
    Analytics
  </a>
  <a href='/admin/user_settings' class='dashboard_button menu_button'>
    User Settings
  </a>
  <a href='/admin/site_settings' class='dashboard_button menu_button'>
    Site Settings
  </a>
  <div class='dashboard_sidebar_toggle' data-action='click->dashboard-sidebar#sidebarToggle' data-target='dashboard-sidebar.sidebarToggle'>
    <div class='closed'> > </div>
    <div class='closed'> > </div>
    <div class='closed tab_title'> Open Options </div>
    <div class='closed'> > </div>
    <div class='closed'> > </div>
    <div class='open'> < </div>
    <div class='open'> < </div>
    <div class='open tab_title'> Close Options </div>
    <div class='open'> < </div>
    <div class='open'> < </div>
  </div>
</div>