<% content_for :section_subtitle do %>
  Analytics
<% end %>

<% content_for :dashboard_content do %>
  <div class='dashboard-item-container'>
    <h3>
      Website hits
    </h3>
    Placeholder
  </div>
<% end %>

<%= render template: "layouts/admin_dashboard" %>