<h1>
  Admin Zone
  <div class='subtitle'>
    Notifications
  </div>
</h1>
<div class='dashboard-container'>
  <%= render 'admins/dashboard_sidebar' %>
  <div class='dashboard-content'>
    <div class='dashboard-item-container'>
      <h3>
        Contact Emails
      </h3>
      Placeholder
    </div>
    <div class='dashboard-item-separator'></div>
    <div class='dashboard-item-container'>
      <h3>
        Blog Comments
      </h3>
      Placeholder
    </div>
    <div class='dashboard-item-separator'></div>
    <div class='dashboard-item-container'>
      <h3>
        Say Hellos
      </h3>
      Placeholder
    </div>
    <div class='dashboard-item-separator'></div>
  </div>
</div>