<% content_for :section_subtitle do %>
  Notifications
<% end %>

<% content_for :dashboard_content do %>
  <div class='dashboard-item-container'>
    <h3>
      Contact Emails
    </h3>
    Placeholder
  </div>
  <div class='dashboard-item-separator'></div>
  <div class='dashboard-item-container'>
    <h3>
      Blog Comments
    </h3>
    Placeholder
  </div>
  <div class='dashboard-item-separator'></div>
  <div class='dashboard-item-container'>
    <h3>
      Say Hellos
    </h3>
    Placeholder
  </div>
<% end %>

<%= render template: "layouts/admin_dashboard" %>