<% content_for :section_title do %>
  Admin Zone
<% end %>
<% content_for :section_subtitle do %>
  Notifications
<% end %>

<div class='dashboard-container'>
  <%= render 'admins/dashboard_sidebar' %>
  <div class='dashboard-content'>
    <div class='dashboard-item-container'>
      <h3>
        Contact Emails
      </h3>
      Placeholder
    </div>
    <div class='dashboard-item-separator'></div>
    <div class='dashboard-item-container'>
      <h3>
        Blog Comments
      </h3>
      Placeholder
    </div>
    <div class='dashboard-item-separator'></div>
    <div class='dashboard-item-container'>
      <h3>
        Say Hellos
      </h3>
      Placeholder
    </div>
    <div class='dashboard-item-separator'></div>
  </div>
</div>