<% content_for :section_subtitle do %>
  User Settings
<% end %>

<% content_for :dashboard_content do %>
  <div class='dashboard-item-container'>
    <%= render 'admins/current_user_details'%>
  </div>
  <div class='dashboard-item-separator'></div>
  <div class='dashboard-item-container'>
    <%= render 'admins/update_user_details_form'%>
  </div>
<% end %>

<%= render template: "layouts/admin_dashboard" %>