<h1>
  Admin Zone
  <div class='subtitle'>
    User Settings
  </div>
</h1>
<div class='dashboard_container'>
  <%= render 'admins/dashboard_sidebar' %>
  <div class='dashboard_content'>
    <div class='dashboard_item_container'>
      <%= render 'admins/current_user_details'%>
    </div>
    <div class='dashboard_item_separator'></div>
    <div class='dashboard_item_container'>
      <%= render 'admins/change_user_details_form'%>
    </div>
    <div class='dashboard_item_separator'></div>
  </div>
</div>