@import 'main';
@use 'hamburger';

// Navbar

$nav_font_color: rgb(240, 240, 240);

.navbar {
  width: 100%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  height: 60px;
  z-index: 3;
}

.nav_title_container {
  font-family: $header-font;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0.06em;
  margin: 0px 20px;

  a, a:link, a:visited, a:focus, a:hover, a:active {
    color: $nav_font_color;
    text-decoration: none; 
  }

  a:hover {
    cursor: pointer;
  }

  @include respond-to(tablet) {
    font-size: 28px;
    // margin: 0px 15px;
  }
  @include respond-to(desktop) {
    font-size: 32px;
    // margin: 0px 20px;
  }
}

// Nav sidebar
$nav-transition: 0.3s;
$hover-animation: 0.2s;

.nav_menu {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}

.hamburger_container {
  position: relative;
  height: 48px;
  width: 48px;
  z-index: 6;
}

.nav_sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 60px;
  background-color: white;
  z-index: 5;

  transition: width $nav-transition ease 0s, height 0s ease $nav-transition;
  -webkit-transition: width $nav-transition ease 0s, height 0s ease $nav-transition;
  -moz-transition: width $nav-transition ease 0s, height 0s ease $nav-transition;
  -o-transition: width $nav-transition ease 0s, height 0s ease $nav-transition;

  .upper, .lower {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: flex-start;
    width: 100%;
  }
}

.nav_item {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 0px;
  padding: 0px 0px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none; 
  border: none;
  font-size: 16px;
  font-weight: 450;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden;

  @include respond-to(tablet) {
    font-size: 18px;
  }
  @include respond-to(desktop) {
    font-size: 20px;
  }

  transition: visibility 0s ease $nav-transition, height 0s ease $nav-transition, padding 0s ease $nav-transition;
  -webkit-transition: visibility 0s ease $nav-transition, height 0s ease $nav-transition, padding 0s ease $nav-transition;
  -moz-transition: visibility 0s ease $nav-transition, height 0s ease $nav-transition, padding 0s ease $nav-transition;
  -o-transition: visibility 0s ease $nav-transition, height 0s ease $nav-transition, padding 0s ease $nav-transition;
}

.nav_item_separator {
  position: relative;
  background-color: lightgrey;
  border-radius: 100%;
  width: 100%;
  height: 0px;
  visibility: hidden;
  transition: visibility 0s ease $nav-transition, height 0s ease $nav-transition;
  -webkit-transition: visibility 0s ease $nav-transition, height 0s ease $nav-transition;
  -moz-transition: visibility 0s ease $nav-transition, height 0s ease $nav-transition;
  -o-transition: visibility 0s ease $nav-transition, height 0s ease $nav-transition;
}

.nav_screen_cover {
  visibility: hidden;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.0);

  transition: background-color $nav-transition ease 0s, visibility 0s ease $nav-transition;
  -webkit-transition: background-color $nav-transition ease 0s, visibility 0s ease $nav-transition;
  -moz-transition: background-color $nav-transition ease 0s, visibility 0s ease $nav-transition;
  -o-transition: background-color $nav-transition ease 0s, visibility 0s ease $nav-transition;
}

.nav_sidebar.sidebar_open {
  width: 180px;
  @include respond-to(tablet) {
    width: 210px;
  }
  @include respond-to(desktop) {
    width: 250px;
  }

  transition: width $nav-transition ease 0s;
  -webkit-transition: width $nav-transition ease 0s;
  -moz-transition: width $nav-transition ease 0s;
  -o-transition: width $nav-transition ease 0s;

  .nav_item {
    visibility: visible;
    color: rgb(31, 29, 29);
    height: 40px;
    padding: 10px 0px;
    transition: color $hover-animation ease 0s, background-color $hover-animation ease 0s;
    -webkit-transition: color $hover-animation ease 0s, background-color $hover-animation ease 0s;
    -moz-transition: color $hover-animation ease 0s, background-color $hover-animation ease 0s;
    -o-transition: color $hover-animation ease 0s, background-color $hover-animation ease 0s;

    &:hover {
      background-color: rgb(94, 94, 94);
      color: white;
      cursor: pointer;
    }
  }

  .nav_item_separator {
    visibility: visible;
    height: 2px;
    transition: all 0s ease 0s;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
  }

  +.nav_screen_cover {
    visibility: visible;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
  
    transition: background-color $nav-transition ease 0s;
    -webkit-transition: background-color $nav-transition ease 0s;
    -moz-transition: background-color $nav-transition ease 0s;
    -o-transition: background-color $nav-transition ease 0s;
  }
}

