<div class='sections'>
  <h2>
    Dashboard
  </h2>
  <a href='/admin' class='section_item'>
    General
  </a>
  <a href='/admin/notifications' class='section_item'>
    Notifications
  </a>
  <a href='/admin/analytics' class='section_item'>
    Analytics
  </a>
  <a href='/admin/user-settings' class='section_item'>
    User Settings
  </a>
  <a href='/admin/site-settings' class='section_item'>
    Site Settings
  </a>
  <div class='open_sections'>
    <div> > </div>
    <div> > </div>
    <div class='tab_title'> Open Dashboard </div>
    <div> > </div>
    <div> > </div>
  </div>
  <div class='close_sections'>
    <div> < </div>
    <div> < </div>
    <div class='tab_title'> Close Dashboard </div>
    <div> < </div>
    <div> < </div>
  </div>
</div>