<div class='sections'>
  <h2>
    Dashboard
  </h2>
  <a href='/admin' class='section_selector'>
    General
  </a>
  <a href='/admin/notifications' class='section_selector'>
    Notifications
  </a>
  <a href='/admin/analytics' class='section_selector'>
    Analytics
  </a>
  <a href='/admin/user-settings' class='section_selector'>
    User Settings
  </a>
  <a href='/admin/site-settings' class='section_selector'>
    Site Settings
  </a>
  <div class='toggle_sections'>
    <div class='closed'> > </div>
    <div class='closed'> > </div>
    <div class='closed tab_title'> Open Dashboard </div>
    <div class='closed'> > </div>
    <div class='closed'> > </div>
    <div class='open'> < </div>
    <div class='open'> < </div>
    <div class='open tab_title'> Close Dashboard </div>
    <div class='open'> < </div>
    <div class='open'> < </div>
  </div>
</div>
<%= javascript_pack_tag 'admin/sectionsMobileSidebar' %>