<div class='sections'>
  <h2>
    Dashboard
  </h2>
  <a href='/admin' class='section_item'>
    General
  </a>
  <div class='section_item_separator'></div>
  <a href='/admin/notifications' class='section_item'>
    Notifications
  </a>
  <div class='section_item_separator'></div>
  <a href='/admin/analytics' class='section_item'>
    Analytics
  </a>
  <div class='section_item_separator'></div>
  <a href='/admin/user-settings' class='section_item'>
    User Settings
  </a>
  <div class='section_item_separator'></div>
  <a href='/admin/site-settings' class='section_item'>
    Site Settings
  </a>
  <div class='section_item_separator'></div>
</div>