<h1>
  Admin Zone
  <div class='subtitle'>
    Analytics
  </div>
</h1>
<div class='dashboard_container'>
  <%= render 'admin/dashboard_sidebar' %>
  <div class='dashboard_content'>
    <div class='dashboard_item_container'>
      <h3>
        Website hits
      </h3>
      Placeholder
    </div>
    <div class='dashboard_item_separator'></div>
  </div>
</div>