<h1>
  Admin Zone
  <div class='subtitle'>
    User Settings
  </div>
</h1>
<div class='admin_zone_container'>
  <%= render 'admin/admin_dashboard' %>
  <div class='admin_section'>
    <div class='item_container'>
      <h3>
        Current Details
      </h3>
      Placeholder
    </div>
    <div class='item_separator'></div>
  </div>
</div>