// Variables


// Mixins
@use 'base/_mixins.scss';


// Styles
.admin_zone_container {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  top: 20px;
  border: 2px solid lightgrey;
  font-size: 14px;

  min-height: 350px;
  @include mixins.respond-to(tablet) {
    min-height: 500px;
    font-size: 18px;
  }
  @include mixins.respond-to(desktop) {
    min-height: 500px;
    font-size: 22px;
  }
}

.admin_dashboard {
  box-sizing: border-box;
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 35%;
  display: flex;
  flex-direction: column;
  background-color: rgb(34, 37, 42);

  max-width: 20px;
  @include mixins.respond-to(tablet) {
    min-width: 236px;
    max-width: 300px;
    border-right: 2px solid lightgrey;
    .admin_dashboard_toggle {
      display: none;
    }
  }
  @include mixins.respond-to(desktop) {
    min-width: 240px;
    max-width: 350px;
    border-right: 2px solid lightgrey;
    .admin_dashboard_toggle {
      display: none;
    }
  }

  &.open {
    display: flex;
    z-index: 2;
    min-width: 150px;
    max-width: 300px;
  
    h2 {
      display: block;
    }
    .admin_dashboard_button {
      display: block;
    }
  }

  h2 {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 25px 10px;
    color: rgb(250, 250, 250);
    border: none;
    font-size: 22px;
    font-weight: 350;
    margin: 0px;

    display: none;
    @include mixins.respond-to(tablet) {
      display: block;
      padding: 25px 40px;
      font-size: 30px;
    }
    @include mixins.respond-to(desktop) {
      display: block;
      padding: 25px 40px;
      font-size: 34px;
    }
  }
}

.admin_dashboard_button {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px;
  text-decoration: none; 
  border: none;
  font-size: 16px;
  font-weight: 300;
  color: rgb(151, 156, 172);
  
  display: none;
  @include mixins.respond-to(tablet) {
    display: block;
    padding: 15px 40px;
    font-size: 22px;
  }
  @include mixins.respond-to(desktop) {
    display: block;
    padding: 20px 40px;
    font-size: 24px;
  }

  &:hover {
    background-color: rgb(15, 16, 19);
    color: rgb(250, 250, 250);
    cursor: pointer;
  }
}

.admin_dashboard_toggle {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 20px;
  color: rgb(212, 211, 211);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &:hover {
    color: rgb(248, 248, 248);
    background-color: rgb(8, 8, 8);
    cursor: pointer;
  }

  div {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }
  .tab_title {
    box-sizing: border-box;
    font-size: 14px;
    writing-mode: vertical-rl;
    font-weight: 300;
  }

  .closed {
    box-sizing: border-box;
  }
  .open {
    display: none;
  }

  &.open {
    background-color: rgb(15, 16, 19);
    border-left: 1px solid black;
    .open {
      display: block;
    }
    .closed {
      display: none;
    }
  }
}

.admin_section {
  box-sizing: border-box;
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: 0 5% 5% 5%;
}

.item_container {
  box-sizing: border-box;
  width: 100%;
}

.item_separator {
  width: 100%;
  height: 4px;
  border-radius: 20%;
  background-color: rgb(15, 16, 19);
  margin: 30px 0px;
}

h3 {
  font-size: 22px;
  font-weight: 350;
  margin: 0px;
  padding: 25px 0px;

  @include mixins.respond-to(tablet) {
    padding: 25px 0px;
    font-size: 30px;
  }
  @include mixins.respond-to(desktop) {
    padding: 25px 0px;
    font-size: 34px;
  }
}
