<% if @user %>
  <div class='toolbar-container'>
    <% if on_admin_page? %>
      <%= link_to('Return to Section', admin_link_helper_return_link ,class: 'standard-button') %>
    <% else %>
      <%= link_to('Admin edit', admin_link_helper_edit_link ,class: 'standard-button') %>
    <% end %>
  </div>
<% end %>