<div class='header-image' data-header-scroll-target='headerImage' style='height: <%= header_height %>px'>
  <%= image_tag(image_path_helper(image_model: @header_image), id: 'header-image', style: @header_image.custom_style, alt: 'header image') %>
</div>
