<div class='submit-right'>
  <%= form.submit('input-submit-tag', id: "input-submit-tag-#{form.object_id}", class: 'hidden') %>
  <label for='input-submit-tag-<%=form.object_id%>' class='input-submit'>
    <span class='button-text'><%= button_text %></span>
    <div class="loader-container">
      <div class="default-loader"></div>
    </div>
  </label>
</div>