<div class='submit-right'>
  <%= form.submit('input-submit-tag', id: 'input-submit-tag') %>
  <label for='input-submit-tag' class='input-submit'>
    <span class='button-text'><%= button_text %></span>
    <div class="loader-container">
      <div class="default-loader"></div>
    </div>
  </label>
</div>