<% content_for :section_subtitle do %>
  Code Snippets: Edit Code Snippet
<% end %>

<section class='reading-pane'>
  <%= render partial: 'admin/code_snippets/edit_form', locals: { code_snippet: @code_snippet } %>
</section>
