<% content_for :section_title do %>
  Code Snippets
<% end %>

<%= render partial: 'partials/admin_toolbar', locals: { model: (@code_snippets.empty? ? [CodeSnippet.new] : @code_snippets) } %>

<%= render partial: 'partials/system_messages'%>

<% if @code_snippets.empty? %>
  <%= render partial: 'code_snippets/no_code_snippets' %>
<% else %>
  <section class='image-tile-container'>
    <%= render partial: 'code_snippets/code_snippet_overview', collection: @code_snippets, as: :code_snippet %>
  </section>
<% end %>