<% content_for :section_title do %>
  Code Snippets
<% end %>

<% content_for :meta_title do %>
  Code Snippets
<% end %>

<% content_for :meta_description do %>
  Browse my most recent code snippets
<% end %>

<%= render partial: 'partials/admin_toolbar', locals: { model: (@code_snippets.empty? ? [CodeSnippet.new] : @code_snippets) } %>

<%= render partial: 'partials/system_messages' %>

<% if @code_snippets.empty? %>
  <%= render partial: 'partials/no_items', locals: {item: 'code snippets'} %>
<% else %>
  <section class='image-tile-container' data-controller="image-loader" data-image-loader-target="container" data-action='turbolinks:before-cache@window->image-loader#teardown'>
    <% @code_snippets.each_with_index do |code_snippet, index| %>
      <%= render partial: 'code_snippets/code_snippet_overview', locals: {code_snippet: code_snippet, path: code_snippet_path(code_snippet), index: index} %>
    <% end %>
  </section>
<% end %>
