// site
$dark: rgb(0, 0, 0);
$light: rgb(255, 255, 255);
$dark-fade: rgb(112, 112, 112);
$light-fade: rgb(185, 184, 184);

// font
$general-font: $dark;
$darker-font: rgb(22, 22, 22);
$inverse-font: rgb(240, 240, 240);


$alerts: rgb(255, 0, 0);
$notices: rgb(0, 90, 0);

$background-color: rgb(254, 254, 254);
$background-dark: rgb(8, 8, 8);

$box-border-color: rgb(204, 204, 204);
$box-border-light: rgb(230, 230, 230);
$box-highlight: $box-border-light;

$sidebar-background: rgb(34, 37, 42);
$sidebar-highlight: rgb(15, 16, 19);
$sidebar-text-unselected: rgb(151, 156, 172);
$sidebar-text: rgb(211, 211, 211);

$form-separator: rgb(160, 160, 160);
$form-slider: rgb(211, 211, 211);
$form-slider-thumb: rgb(76, 175, 80);

$nav-button-hover: rgb(94, 94, 94);
