@use 'mixins' as *;
@use 'colors';

$header-font: 'Roboto Slab', Fallback, sans-serif;
$general-font: 'Roboto', Fallback, sans-serif;
$code-font: 'Inconsolata', Fallback, sans-serif;
$reading-font: 'Merriweather Sans', 'Roboto', Fallback, sans-serif;

html {
  color: colors.$general-font;
  font-family: $general-font;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.04rem;

  @include respond-to(tablet) {
    font-size: 15px;
  }
  @include respond-to(tablet) {
    font-size: 16px;
  }
}

@mixin main-heading {
  box-sizing: border-box;
  color: colors.$inverse-font;
  font-family: $header-font;
  font-weight: 300;
  margin: 0;
  padding: 20px;
  width: 100%;
}

h1 {
  @include main-heading;
  font-size: 3.2em;
  @include respond-to(tablet) {
    font-size: 3.6em;
  }
  @include respond-to(desktop) {
    font-size: 4.1em;
  }
}

.subtitle {
  @include main-heading;
  font-size: 1.8em;
  line-height: initial;
  padding-top: 10px;
  @include respond-to(tablet) {
    font-size: 2em;
    padding-top: 15px;
  }
  @include respond-to(desktop) {
    font-size: 2.3em;
  }
}

@mixin sub-header {
  font-weight: 500;
  line-height: initial;
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}

h2 {
  @include sub-header;
  font-size: 2.5em;
}

h3 {
  @include sub-header;
  font-size: 2em;
}

h4 {
  @include sub-header;
  font-size: 1.5em;
}

h5 {
  @include sub-header;
  font-size: 1.2em;
}

h6 {
  @include sub-header;
  font-size: 1em;
}

@mixin reading-pane-header {
  color: colors.$heading-font;
  font-family: $general-font;
  font-weight: 500;
  letter-spacing: 0.04rem;
}

.reading-pane {
  font-family: $reading-font;
  letter-spacing: 0.01em;
  line-height: 1.65em;
  word-spacing: 0.1em;

  h1 {
    @include reading-pane-header;
  }

  h2 {
    @include reading-pane-header;
  }

  h3 {
    @include reading-pane-header;
  }

  h4 {
    @include reading-pane-header;
  }

  h5 {
    @include reading-pane-header;
  }

  h6 {
    @include reading-pane-header;
  }
}


b,
strong {
  font-weight: 600;
}

.small-font {
  color: colors.$darker-font;
  font-size: 0.85em;
  font-weight: 300;
}

sup {
  top: -0.35em;
}

code {
  font-family: $code-font;
  font-weight: 400;
}
