@use 'mixins' as *;
@use 'colors';

@font-face {
  font-family: 'RobotoTitle';
  font-weight: 1 999;
  src: url('../fonts/RobotoSlab-Variable.woff2') format('woff2'), url('../fonts/RobotoSlab-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'RobotoBody';
  font-weight: 1 999;
  src: url('../fonts/Roboto-Variable.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff2') format('woff2');
}

$header-font: 'RobotoTitle', Fallback, sans-serif;
$general-font: 'RobotoBody', Fallback, sans-serif;

html {
  color: colors.$general-font;
  font-family: $general-font;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;

  @include respond-to(tablet) {
    font-size: 15px;
  }
  @include respond-to(tablet) {
    font-size: 16px;
  }
}

h1 {
  box-sizing: border-box;
  color: colors.$inverse-font;
  font-family: $header-font;
  font-size: 45px;
  font-weight: 300;
  height: 250px;
  margin: 0;
  padding: 20px;
  width: 100%;
  
  @include respond-to(tablet) {
    font-size: 55px;
  }
  @include respond-to(desktop) {
    font-size: 65px;
  }

  .subtitle {
    font-family: $header-font;
    font-size: 25px;
    padding-top: 15px;
    @include respond-to(tablet) {
      font-size: 30px;
    }
    @include respond-to(desktop) {
      font-size: 35px;
    }
  }
}

h2 {
  font-family: $general-font;
}

h3 {
  font-family: $general-font;
}

h4 {
  font-size: inherit;
  font-weight: 600;
  margin: 0;

  @include respond-to(tablet) {
    margin: 15px 0;
  }
  @include respond-to(desktop) {
    margin: 20px 0;
  }
}

b,
strong {
  font-weight: 600;
}

.small-font {
  color: colors.$darker-font;
  font-size: 12px;
  font-weight: 300;

  @include respond-to(tablet) {
    font-size: 14px;
  }

  @include respond-to(desktop) {
    font-size: 16px;
  }
}

@mixin large-font {
  font-size: 2em;

  @include respond-to(tablet) {
    font-size: 2.25em;
  }

  @include respond-to(desktop) {
    font-size: 2.5em;
  }
}
