// Modules
@use '../base/colors';
@use '../base/mixins' as *;
@use '../base/typography';

@mixin highlight-button-outline {
  &:active,
  &:focus {
    outline: none;
  }
}

.menu-button {
  border: unset;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  user-select: none;
  width: 100%;
}

.standard-button {
  background-image: linear-gradient(to bottom right, colors.$dark, colors.$medium-dark);
  border: unset;
  box-sizing: border-box;
  color: colors.$light;
  cursor: pointer;
  font-family: typography.$general-font;
  font-size: inherit;
  font-weight: 300;
  line-height: 1em;
  padding: 15px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.input-submit {
  align-items: center;
  background-image: linear-gradient(to bottom right, colors.$dark, colors.$medium-dark);
  border: unset;
  box-sizing: border-box;
  color: colors.$light;
  cursor: pointer;
  display: flex;
  font-weight: 300;
  height: 3em;
  justify-content: center;
  line-height: 1em;
  min-width: 110px;
  padding: 15px 25px;
  position: relative;
  user-select: none;
}

.destroy-button {
  margin-top: 10px;
}

.return-button {
  margin-top: 40px;
}

.embedded-gallery-button {
  @include highlight-button-outline;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: none;
  font-size: 3rem;
  height: 100%;
  position: absolute;
  top: 0;
  user-select: none;
  z-index: 2;

  .background {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .nav-icon {
    font-family: Arial;
    opacity: 0.85;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    transition: opacity 0.2s ease-in-out;
    z-index: 3;
  }

  &:active .nav-icon {
    color: rgba(225, 225, 225);
  }

  &.prev {
    left: 0;
    padding: 0 15px 0 11px;

    .background {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0.005) 90%, rgba(0, 0, 0, 0));
    }
  }
  
  &.next {
    padding: 0 11px 0 15px;
    right: 0;

    .background {
      background: linear-gradient(to left, rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0.005) 90%, rgba(0, 0, 0, 0));
    }
  }

  &:hover {
    .nav-icon {
      opacity: 1;
    }

    .background {
      opacity: 1;
    }
  }
}

.post-editor-toolbar-button {
  margin-left: 30px;
}