// Modules
@use '../base/colors';
@use '../base/mixins' as *;
@use '../base/typography';

.card-container {
  box-sizing: border-box;
  display: flex;
  height: fit-content;
  margin-bottom: 20px;
  min-width: 200px;
  padding: 7px;
  position: relative;
  width: 100%;

  @include respond-to(tablet) {
    margin-bottom: 0;
    max-width: 50%;
  }

  @include respond-to(desktop) {
    max-width: 33%;
  }
}

@mixin link-outline {
  &:link,
  &:visited {
    color: colors.$dark;
    text-decoration: none;
  }

  &:focus,
  &:active {
    outline-offset: 2px;
  }

  &:hover {
    outline: none;
  }
}

.card-content {
  @include link-outline;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  user-select: none;
  width: 100%;

  .headline {
    font-size: 1.3em;
    margin: 0;
    padding: 10px 5px;
  }
}

.card-image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  height: 200px;
  overflow: hidden;
  position: relative;

  img {
    height: 100%;
    object-fit: cover;
    object-position: 0% 0%;
    position: relative;
    width: 100%;
  }
}

.card-overview {
  color: colors.$darker-font;
  flex: 1 0 auto;
  font-size: 0.9em;
  padding: 0 5px 10px;
}

.embedded-gallery {
  background-color: rgb(0, 0, 0);
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;

  a {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  img {
    height: 100%;
    object-fit: cover;
    object-position: 0% 0%;
    width: 100%;
  }
}

.wide-card-container {
  color: colors.$general-font;
  text-decoration: none;

  a {
    @include link-outline;
  }

  + .ruler {
    margin-bottom: 50px;
    margin-top: 10px;
  }
}

.wide-card-title-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7em;
  margin-top: 1em;
  position: relative;
  width: 100%;

  h1 {
    flex: 1 1 100%;
    margin: 0;
    padding: 0;
  }

  .links-container {
    display: flex;
    line-height: 1em;
  }

  .logo-link {
    img {
      height: 2.2em;
      width: 2.2em;
    }

    + * {
      margin-left: 5px;
    }
  }
}
