@use '../base/colors';
@use '../base/mixins' as *;
@use '../base/typography';

footer {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: $footer-height;
  justify-content: center;
  margin-top: $footer-offset;
  position: relative;
  width: 100%;
}

.footer-links {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  
  a {
    box-sizing: border-box;
    height: 40px;
    margin: 0 20px;
    padding: 4px;
    position: relative;
    width: 40px;

    img {
      display: block;
      height: 100%;
      position: relative;
      width: 100%;
    }
  }

  a:link,
  a:visited {
    color: inherit;
    text-decoration: none;
  }

  .linkedin-link {
    padding: 7px;
  }
}

.footer-text {
  color: colors.$dark-dark;
  font-size: 0.7em;
  margin-top: 40px;
  text-align: center;
  width: 100%;

  a:link,
  a:visited {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: colors.$darker-font;
    text-decoration: underline;
  }
}
