@use '../base/mixins' as *;

.profile-image {
  height: 100%;
  position: relative;
  width: 50%;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);

  &.about {
    float: right;
  }

  &.admin {
    max-width: 300px;
    width: 100%;
  }
}

.logo-link {
  position: relative;


  img {
    height: 40px;
    width: 40px;
  }
}

.project-image.admin {
  height: 250px;
  object-fit: contain;
  width: 300px;
}
