@use '../base/mixins' as *;

.profile-image {
  position: relative;
  width: 50%;

  @include respond-to(tablet) {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 300px;
  }
  @include respond-to(desktop) {
    width: 350px;
  }

  &.about {
    float: right;
  }

  &.admin {
    max-width: 500px;
    width: 100%;
  }
}
