// Modules
@use '../base/colors';
@use '../base/mixins' as *;
@use '../base/typography';

.markdown {
  margin: 1.5em 0;
  
  ul {
    margin-top: 5px;
  }

  li {
    margin-top: 5px;
  }

  p {
    margin-bottom: 5px;
    margin-top: 10px;
  }
}
