// Modules
@use '../base/colors';
@use '../base/mixins' as *;
@use '../base/typography';

.markdown {
  font-size: 18px;
  line-height: 1.5em;

  @include respond-to(tablet) {
    font-size: 20px;
  }

  ul {
    margin-top: 5px;
  }

  li {
    margin-top: 5px;
  }

  p {
    margin-bottom: 5px;
    margin-top: 10px;
  }
}
