// Modules
@use '../base/colors';
@use '../base/mixins' as *;
@use '../base/typography' as *;

.post-overview {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.post-overview-container {
  color: colors.$darker-font;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;

  &:link,
  &:visited {
    color: colors.$dark;
    text-decoration: none;
    width: 100%;
  }

  &:focus,
  &:active {
    outline: thin dotted;
  }

  &:hover {
    outline: none;
  }

  .post-overview-title {
    font-size: 1.5em;
    margin: 10px 0;
    padding: 0;
    @include respond-to(tablet) {
      font-size: 1.65em;
    }
    @include respond-to(desktop) {
      font-size: 1.8em;
    }
  }
  
  .post-container .markdown {
    margin-top: 2em;
  }
  
  .post-overview-overview {
    margin-top: 0.7em;
  }  

  .post-date {
    font-size: 0.9em;
    color: colors.$heading-font;
  }
}

