// Modules
@use '../base/colors';
@use '../base/mixins' as *;
@use '../base/typography' as *;

.post-overview {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.post-overview-container {
  box-sizing: border-box;
  color: colors.$darker-font;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &:link,
  &:visited {
    color: colors.$dark;
    text-decoration: none;
    width: 100%;
  }

  &:focus,
  &:active {
    outline: thin dotted;
  }

  &:hover {
    outline: none;
  }

  .post-overview-title {
    font-size: 1.5em;
    margin: 10px 0;
    padding: 0;
    @include respond-to(tablet) {
      font-size: 1.65em;
    }
    @include respond-to(desktop) {
      font-size: 1.8em;
    }
  }
  
  .post-container .markdown {
    margin-top: 2em;
  }
  
  .post-overview-overview {
    margin-top: 0.7em;
  }  

  .post-date {
    color: colors.$heading-font;
    font-size: 0.9em;
  }
}


.blog-post-section {
  &.destroy {
    .text-area-container.visible-on-edit .embedded-text-area {
      max-height: 4em;
      min-height: unset;
      opacity: 0.3;
      text-decoration: line-through;
    }

    .post-editior-toolbar .visible-on-edit {
      display: none;
    }

    .post-editior-toolbar .visible-on-destroy {
      display: unset;
    }

    .post-section-images-container {
      display: none;
    }
  }

  .visible-on-destroy {
    display: none;
  }
}

.post-section-image-lightbox {
  display: flex;
  height: fit-content;
  width: 100%;

  .post-section-image-thumbnail {
    position: relative;
    width: 100%;
  }
}

.post-section-image-caption {
  font-size: 0.8em;
  font-weight: 500;
  overflow-wrap: normal;
  padding-bottom: 2em;
  padding-top: 0.25em;
  width: 100%;
}
