// Modules
@use '../base/colors';
@use '../base/mixins' as *;
@use '../base/typography' as *;

.post-overview-container {
  color: colors.$dark;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &:link,
  &:visited {
    color: colors.$dark;
    text-decoration: none;
    width: 100%;
  }

  &:focus,
  &:active {
    outline: thin dotted;
  }

  &:hover {
    outline: none;
  }
}

.post-overview-title {
  font-size: 2.5em;
  margin: 10px 0;
  padding: 0;
}

.post-container .markdown {
  margin-top: 2em;
}