<%= form_with(model: [:admin, project], method: 'put', class: 'section-form', id: 'admin-projects-update-form') do |f| %>

  <%= render partial: 'admin/projects/form_components', locals: { f: f } %>

<% end %>

<div class="embedded-form-button-container">
  <%= link_to('Return', admin_projects_path, class: 'standard-button input-submit') %>
</div>