<% project_images = project.project_images %>
<% if project_images.any? %>
  <div class='embedded-gallery'>
    <% project_images.each do |project_image| %>
      <%= image_tag(image_path_helper(image_model: project_image, variant: :thumbnail), title: project_image.title, alt: project_image.description) %>
    <% end %>
    <button class="embedded-gallery-button prev">‹</button>
    <button class="embedded-gallery-button next">›</button>
  </div>
<% end %>