<% content_for :section_subtitle do %>
  Projects: Edit Project
<% end %>

<section class='reading-pane'>
  <%= render partial: 'admin/projects/edit_form', locals: { project: @project } %>
</section>
