<% content_for :section_subtitle do %>
  Projects
<% end %>

<section class='reading-pane'>
  <%= render partial: 'partials/admin_toolbar', locals: { model: (@projects.empty? ? [Project.new] : @projects) } %>

  <%= render partial: 'partials/system_messages'%>

  <% if @projects.empty? %>
    <%= render partial: 'partials/no_items', locals: {item: 'projects'} %>
  <% else %>
    <%= render partial: '/admin/projects/project_overview', collection: @projects, as: :project, spacer_template: "partials/standard_ruler" %>
  <% end %>
</section>