<div class='wide-card-container fade-transition'>
    <%= render(partial: 'projects/project_overview_gallery', locals: {project: project}) %>
    <%= render(partial: 'projects/project_overview_content', locals: {project: project}) %>
</div>