<% content_for :section_title do %>
  Projects
<% end %>

<% content_for :meta_title do %>
  Projects
<% end %>

<% content_for :meta_description do %>
  Checkout my most recent projects
<% end %>

<div class='reading-pane' data-controller="image-loader" data-image-loader-target='container' itemscope itemtype="https://schema.org/Collection">
  <%= render partial: 'partials/admin_toolbar', locals: { model: Project.new } %>

  <%= render partial: 'partials/system_messages' %>

  <% if @projects.empty? %>
    <%= render partial: 'partials/no_items', locals: {item: 'projects'} %>
  <% else %>
    <%= render partial: 'projects/project_overview', collection: @projects, as: :project, spacer_template: "partials/standard_ruler" %>
  <% end %>
</div>
