<% content_for :section_title do %>
  Projects
<% end %>

<section class='reading-pane'>
  <%= render partial: 'partials/system_messages'%>

  <%= render partial: 'partials/no_items', locals: {item: 'projects'} %>

</section>