# Rails
RACK_ENV=test
RAILS_ENV=test

# PSQL Database Credentials
DB_USERNAME=<your-psql-username>
DB_PASSWORD=<your-psql-password>
DB_HOST=<your-psql-host>
DB_NAME_TEST=home_server_test


# TEST DEFAULT ENVIRONMENT
# ==================

# Google ReCaptcha v2 Credentials
GRECAPTCHA_SITE_KEY=test
GRECAPTCHA_SITE_SECRET=test

# Twilio Credentials
TWILIO_ACCOUNT_SID=test
TWILIO_AUTH_TOKEN=test
TWILIO_VERIFY_SERVICE_SID=test

# Site Settings
SITE_HOST=example.com
SECRET_KEY_BASE=1234567890

# Email Settings
EMAIL_ASSET_HOST=example.com
EMAIL_DEFAULT_ADDRESS=admin@example.com
EMAIL_NO_REPLY_ADDRESS=no-reply@example.com
EMAIL_DEFAULT_NAME=admin
EMAIL_COMPANY_NAME=home-server