@font-face {
  font-family: 'RobotoTitle';
  src: url('../fonts/RobotoSlab-Variable.woff2') format('woff2'), url('../fonts/RobotoSlab-Regular.woff2') format('woff2');
  font-weight: 1 999;
}

@font-face {
  font-family: 'RobotoBody';
  src: url('../fonts/Roboto-Variable.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 1 999;
}