@font-face {
  font-family: 'RobotoTitle';
  src: url('../fonts/RobotoSlab-Variable.woff2') format('woff2'), url('../fonts/RobotoSlab-Regular.woff2') format('woff2');
  font-weight: 1 999;
}

@font-face {
  font-family: 'RobotoBody';
  src: url('../fonts/Roboto-Variable.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 1 999;
}

$header-font: 'RobotoTitle', Fallback, sans-serif;
$general-font: 'RobotoBody', Fallback, sans-serif;
$general-font-color: rgb(0, 0, 0);
$inverse-font-color: rgb(240, 240, 240);

html {
  font-family: $general-font;
  color: $general-font-color;
  font-weight: 300;
  letter-spacing: 0.05em;
}

b, strong {
  font-weight: 600;
}

small {
  font-size: 80%;
}
