psql:
  user: <your-psql-username>
  password: <your-psql-password>
  host: <your-psql-host>
  dbname_development: home_server_development
  dbname_test: home_server_test
  dbname_production: home_server_production

secret_key_base: <new_secret_key_base>