<div class='post-overview-container'>
  <a href='<%= edit_admin_post_path(post) %>' class='edit-blog-post-button'>
    <div class='post-overview-title'>
      <%= post.title %>
    </div>
    <div class='post-overview-date'>
      <%= post.date_published %>
    </div>
    <div class='post-overview-overview'>
      <%= post.overview %>
    </div>
  </a>
</div>