<% content_for :section_title do %>
  Blog
<% end %>
<% content_for :section_subtitle do %>
  Admin: Index
<% end %>

<section class='reading-pane'>
  <%= render partial: 'partials/admin_toolbar', locals: { model: (@posts.empty? ? [Post.new] : @posts) } %>

  <%= render partial: 'partials/system_messages'%>

  <% if @posts.empty? %>
    <%= render partial: 'posts/no_posts' %>
  <% else %>
    <%= render partial: 'admin/posts/post_overview', collection: @posts, as: :post, spacer_template: "partials/standard_ruler" %>
  <% end %>
</section>