<div class="embedded-form-entry-container">
  <div class="embedded-full-width embedded-form-note small-font">
    <strong>Note:</strong> Images will be resized to <%= image.x_dim %>px wide and cropped to <%= image.y_dim %>px tall. Accepted image formats are jpeg and png.
  </div>
</div>