<% content_for :section_title do %>
  <%= @about.section_title %>
<% end %>

<section class='reading-pane'>
  <%= render partial: 'partials/admin_toolbar', locals: { model: @about } %>

  <%= render partial: 'partials/contact_details', locals: { model: @about, contact_link: true } %>

  <%= markdown_admin(@about.about_me)%>
</section>