<li class='gallery-image-container'>
  <a href="<%= edit_admin_gallery_image_path(gallery_image) %>" class='view-gallery-image'>
    <%= render(partial: 'gallery_images/image_thumbnail', locals: {gallery_image: gallery_image})%>
  </a>
</li>