<%= form_with(model: gallery_image, url: {action: 'create', controller: 'admin/gallery_images'}, class: 'section-form', id: 'admin-gallery-images-new-form') do |f| %>

  <%= render partial: 'admin/gallery_images/form_components', locals: { f: f } %>

<% end %>

<div class="embedded-form-button-container">
  <%= link_to('Return', admin_gallery_images_path, class: 'standard-button input-submit') %>
</div>
