<% content_for :section_subtitle do %>
  Gallery: Index
<% end %>

<%= render partial: 'partials/admin_toolbar', locals: { model: (@gallery_images.empty? ? [GalleryImage.new] : @gallery_images) } %>

<%= render partial: 'partials/system_messages' %>

<section class='gallery-container'>

  <% if @gallery_images.empty? %>
    <%= render partial: 'partials/no_items', locals: {item: 'images'} %>
  <% else %>
    <ul class='gallery-container' data-controller='justified-gallery' data-justified-gallery-target='container' data-justified-gallery-margin='2' data-action='turbolinks:before-cache@window->justified-gallery#teardown'>
      <%= render partial: 'admin/gallery_images/image_container', collection: @gallery_images, as: :gallery_image %>
    </ul>
  <% end %>

</section>
