<% content_for :section_subtitle do %>
  Admin: New Gallery Image
<% end %>

<section class='form-pane'>

  <%= render partial: 'admin/gallery_images/new_form', locals: { gallery_image: @gallery_image } %>

</section>
