<% content_for :section_subtitle do %>
  About/Contact
<% end %>

<div class='dashboard-item-container'>
  <h3>
    Update About and Contact details
  </h3>
</div>
<%= render partial: 'admin/abouts/edit_form', locals: { about: @about } %>

<div class="embedded-form-button-container">
  <%= link_to('Return', about_path, class: 'standard-button input-submit') %>
</div>
