<% content_for :section_subtitle do %>
  About/Contact
<% end %>

<div class='dashboard-item-container'>
  <h3>
    Update About and Contact details
  </h3>
</div>
<%= render partial: 'partials/admin_toolbar', locals: { model: @about } %>
<%= render partial: 'admin/abouts/edit_form', locals: { about: @about } %>
