<% content_for :section_title do %>
  About
<% end %>
<% content_for :section_subtitle do %>
  Admin: Edit About
<% end %>

<section class='reading-pane'>
  <%= render partial: 'partials/admin_toolbar', locals: { model: @about }  %>
  <%= render partial: 'admin/abouts/edit_form', locals: { about: @about } %>
</section>