<% content_for :section_title do %>
  About
<% end %>
<% content_for :section_subtitle do %>
  Admin: Edit About
<% end %>

<%= render partial: 'partials/admin_toolbar', locals: { model: @about }  %>

<div class='section-content'>
  <%= render partial: 'admin/abouts/edit_form', locals: { about: @about } %>
</div>