@font-face {
  font-family: 'RobotoTitle';
  src: font-url('RobotoSlab-Variable.woff2') format('woff2'), font-url('RobotoSlab-Regular.woff2') format('woff2');
  font-weight: 1 999;
}

@font-face {
  font-family: 'RobotoBody';
  src: font-url('Roboto-Variable.woff2') format('woff2'), font-url('Roboto-Medium.woff2') format('woff2');
  font-weight: 1 999;
}

html {
  font-family: 'RobotoBody', Fallback, sans-serif;
  color: black;
  font-weight: 300;
  letter-spacing: 0.05em;
}

$header-font: 'RobotoTitle', Fallback, sans-serif;
$text-font: 'RobotoBody', Fallback, sans-serif;