// Modules
@use '../base/colors';
@use '../base/mixins' as *;
@use '../base/typography';

.menu-button { 
  border: unset;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}
