// Modules
@use '../base/globals';
@use '../base/functions';
@use '../base/mixins' as *;
@use '../base/typography';

.menu-button {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none; 
  border: none;

  &:hover {
    cursor: pointer;
  }
}