// Modules
@use '../base/globals';
@use '../base/functions';
@use '../base/mixins' as *;
@use '../base/typography';


// Variables
$general-font: typography.$general-font;


// Styles
.flex_image_tile {
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 100%;
  height: 300px;
  border: 5px solid rgba(0, 0, 0, 0);
  
  @include respond-to(tablet) {
    min-width: 50%;
    max-width: 50%;
    height: 350px;
  }
  @include respond-to(desktop) {
    min-width: 50%;
    max-width: 50%;
    height: 350px;
  }
}

.cover_image {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;

  &.middle_left {
    object-position: 0% 50%;
  }
  &.top_left {
    object-position: 0% 0%;
  }
}

.cover_title {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.0;
  transition: opacity 0.2s ease-in-out 0s;
  -webkit-transition: opacity 0.2s ease-in-out 0s;
  -moz-transition: opacity 0.2s ease-in-out 0s;
  -o-transition: opacity 0.2s ease-in-out 0s;

  span {
    font-family: $general-font;
    color: white;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 0.06em;
    margin: 0;
  }

  &:hover {
    opacity: 1.0;
  }

  &.hover {
    opacity: 1.0;
  }
}

.fade_cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  z-index: 999;
  opacity: 1;
}

// Animations
.fade_out {
  animation: 1.5s ease 0s 1 normal forwards running fade_out; 
  -webkit-animation:  1.5s ease 0s 1 normal forwards running fade_out; 
  -moz-animation: 1.5s ease 0s 1 normal forwards running fade_out; 
}

.animation_delay_1 {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
}

.animation_delay_2 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
}

.animation_delay_3 {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
}

.animation_delay_4 {
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}

.animation_delay_5 {
  animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
}

.animation_delay_6 {
  animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
}

@keyframes fade_out { 
  0% { opacity: 1; } 
  100% { 
    opacity: 0;
    display: none; 
    z-index: -1;
  } 
}
@-webkit-keyframes fade_out { 
  0% { opacity: 1; } 
  100% { 
    opacity: 0;
    display: none;
    z-index: -1;
  } 
}
@-moz-keyframes fade_out { 
  0% { opacity: 1; } 
  100% { 
    opacity: 0;
    display: none;
    z-index: -1;
  } 
}