// Modules
@use '../base/globals';
@use '../base/functions';
@use '../base/mixins' as *;
@use '../base/typography';


// Notice and Alerts
.system-messages {
  box-sizing: border-box;
  width: 100%;
  word-wrap: break-word;
}

.notice, .alert {
  box-sizing: border-box;
  width: 100%;
  + .no-messages {
    display: none;
  }
}

.alert {
  color: red;
}
.notice {
  color: rgb(0, 90, 0);
}

