// Modules
@use '../base/globals';
@use '../base/functions';
@use '../base/mixins' as *;
@use '../base/typography';

// Variables
$header-font: typography.$header-font;
$nav-font-color: typography.$inverse-font-color;
$inverse-font-color: typography.$general-font-color;
$sidebar-transition: 0.3s;
$btn-hover-animation: 0.2s;

// Vendor
@use '../vendor/hamburger' with(
  $container_position: relative,
  $container_height: 55px,
  $container_width: 55px,
  $container_z_index: 7,
  $container_color: none,
  $hamburger_padding: 6px 6px,
  $bar_height: 5px,
  $bar_color_normal: $nav-font-color,
  $bar_color_clicked: $inverse-font-color,
  $animation_duration: $sidebar-transition,
  $length_scale: 0.96,
);


// Top Navbar Styles
.navbar {
  width: 100%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  height: 60px;
  z-index: 3;
}

.nav_title_container {
  font-family: $header-font;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0.06em;
  margin: 0px 20px;

  a, a:link, a:visited, a:focus, a:hover, a:active {
    color: $nav-font-color;
    text-decoration: none; 
  }

  a:hover {
    cursor: pointer;
  }

  @include respond-to(tablet) {
    font-size: 28px;
  }
  @include respond-to(desktop) {
    font-size: 32px;
  }
}

// Side Navbar Styles

.nav_menu {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}

.nav_sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 60px;
  background-color: white;
  z-index: 5;

  transition: width $sidebar-transition ease 0s, height 0s ease $sidebar-transition;
  -webkit-transition: width $sidebar-transition ease 0s, height 0s ease $sidebar-transition;
  -moz-transition: width $sidebar-transition ease 0s, height 0s ease $sidebar-transition;
  -o-transition: width $sidebar-transition ease 0s, height 0s ease $sidebar-transition;

  .upper, .lower {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: flex-start;
    width: 100%;
  }
}

.nav_item {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 0px;
  padding: 0px 0px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none; 
  border: none;
  font-size: 16px;
  font-weight: 450;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden;

  @include respond-to(tablet) {
    font-size: 18px;
  }
  @include respond-to(desktop) {
    font-size: 20px;
  }

  transition: visibility 0s ease $sidebar-transition, height 0s ease $sidebar-transition, padding 0s ease $sidebar-transition;
  -webkit-transition: visibility 0s ease $sidebar-transition, height 0s ease $sidebar-transition, padding 0s ease $sidebar-transition;
  -moz-transition: visibility 0s ease $sidebar-transition, height 0s ease $sidebar-transition, padding 0s ease $sidebar-transition;
  -o-transition: visibility 0s ease $sidebar-transition, height 0s ease $sidebar-transition, padding 0s ease $sidebar-transition;
}

.logout_form {
  width: 100%;
}

.nav_item_separator {
  position: relative;
  background-color: lightgrey;
  border-radius: 60%;
  width: 100%;
  height: 0px;
  visibility: hidden;
  transition: visibility 0s ease $sidebar-transition, height 0s ease $sidebar-transition;
  -webkit-transition: visibility 0s ease $sidebar-transition, height 0s ease $sidebar-transition;
  -moz-transition: visibility 0s ease $sidebar-transition, height 0s ease $sidebar-transition;
  -o-transition: visibility 0s ease $sidebar-transition, height 0s ease $sidebar-transition;
}

.nav_screen_cover {
  visibility: hidden;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.0);

  transition: background-color $sidebar-transition ease 0s, visibility 0s ease $sidebar-transition;
  -webkit-transition: background-color $sidebar-transition ease 0s, visibility 0s ease $sidebar-transition;
  -moz-transition: background-color $sidebar-transition ease 0s, visibility 0s ease $sidebar-transition;
  -o-transition: background-color $sidebar-transition ease 0s, visibility 0s ease $sidebar-transition;
}

.nav_sidebar.sidebar_open {
  width: 180px;
  @include respond-to(tablet) {
    width: 210px;
  }
  @include respond-to(desktop) {
    width: 250px;
  }

  transition: width $sidebar-transition ease 0s;
  -webkit-transition: width $sidebar-transition ease 0s;
  -moz-transition: width $sidebar-transition ease 0s;
  -o-transition: width $sidebar-transition ease 0s;

  .nav_item {
    visibility: visible;
    color: rgb(31, 29, 29);
    height: 40px;
    padding: 10px 0px;
    transition: color $btn-hover-animation ease 0s, background-color $btn-hover-animation ease 0s;
    -webkit-transition: color $btn-hover-animation ease 0s, background-color $btn-hover-animation ease 0s;
    -moz-transition: color $btn-hover-animation ease 0s, background-color $btn-hover-animation ease 0s;
    -o-transition: color $btn-hover-animation ease 0s, background-color $btn-hover-animation ease 0s;
    background-color: rgb(255, 255, 255);

    &:hover {
      background-color: rgb(94, 94, 94);
      color: white;
      cursor: pointer;
    }
  }

  .nav_item_separator {
    visibility: visible;
    height: 2px;
    transition: all 0s ease 0s;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
  }

  +.nav_screen_cover {
    visibility: visible;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
  
    transition: background-color $sidebar-transition ease 0s;
    -webkit-transition: background-color $sidebar-transition ease 0s;
    -moz-transition: background-color $sidebar-transition ease 0s;
    -o-transition: background-color $sidebar-transition ease 0s;
  }
}

