<a href='<%= post_path(post) %>' class='post-overview-container view-blog-post-button'>
  <div class='post-overview-title'>
    <%= post.title %>
  </div>
  <div class='post-overview-date'>
    <%= post.date_published %>
  </div>
  <div class='post-overview-overview'>
    <%= post.overview %>
  </div>
</a>