<div class='post-overview-container'>
  <div class='post-overview-title'>
    <%= post.title %>
  </div>
  <div class='post-overview-date'>
    <%= post.date_published %>
  </div>
  <div class='post-overview-overview'>
    <%= post.overview %>
  </div>
</div>