<div class='post-post-section'>

  <% if post_section.post_section_image %>
    <a href="<%= rails_blob_url(post_section.post_section_image.image_file) if image_attached?(post_section.post_section_image) %>" 
        class='post-section-image-lightbox' 
        itemprop='image' 
        itemscope 
        itemtype="https://schema.org/ImageObject">
      <%= image_tag(image_path_helper(image_model: post_section.post_section_image, variant: :thumbnail), title: post_section.post_section_image.title, alt: post_section.post_section_image.description, itemprop: 'contentUrl') %>
    </a>
    <div class='post-section-image-caption'>
      <%= post_section.post_section_image.description %>
    </div>
  <% end %>

  <%= markdown_admin(post_section.text) %>

</div>