<% content_for :section_title do %>
  Blog
<% end %>

<div class='section-content'>
  <%= render partial: 'partials/admin_toolbar', locals: { model: @posts } %>

  <%= render partial: 'posts/post_overview', collection: @posts, as: :post, spacer_template: "partials/standard_ruler" %>
</div>