<% content_for :section_title do %>
  Blog
<% end %>

<% content_for :meta_title do %>
  Blog
<% end %>

<% content_for :meta_description do %>
  Browse my most recent blog posts
<% end %>

<section class='reading-pane' itemscope itemtype="https://schema.org/Blog">
  <%= render partial: 'partials/admin_toolbar', locals: { model: (@posts.empty? ? [Post.new] : @posts) } %>

  <%= render partial: 'partials/system_messages' %>

  <% if @posts.empty? %>
    <%= render partial: 'partials/no_items', locals: {item: 'posts'} %>
  <% else %>
    <ul class='unstyled-list'>
      <%= render partial: 'posts/post_overview', collection: @posts, as: :post, spacer_template: "partials/standard_ruler" %>
    </ul>
  <% end %>
</section>
