<% content_for :section_title do %>
  Gallery
<% end %>

<%= render partial: 'partials/admin_toolbar', locals: { model: (@gallery_images.empty? ? [GalleryImage.new] : @gallery_images) } %>

<%= render partial: 'partials/system_messages'%>

<section class='gallery'>

  <% if @gallery_images.empty? %>
    <%= render partial: 'gallery_images/no_images' %>
  <% else %>
    <div class='gallery-container' data-controller='justified-gallery' data-target='justified-gallery.container' data-justified-gallery-margin='2'>
      <%= render partial: 'gallery_images/image_thumbnail', collection: @gallery_images, as: :gallery_image %>
    </div>
  <% end %>

</section>