<% content_for :section_title do %>
  Gallery
<% end %>

<%= render partial: 'partials/system_messages'%>

<section class='gallery-container'>

  <%= render partial: 'gallery_images/no_images' %>

</section>