<% content_for :section_subtitle do %>
  Site Settings
<% end %>

<div class='dashboard-item-container'>
  <h3>
    Update Site Settings
  </h3>
</div>
<div class='dashboard-item-container'>
  <%= render partial: 'admin/site_settings/edit_form', locals: {site_settings: @site_settings} %>
</div>
