<% content_for :section_title do %>
  Admin Zone
<% end %>
<% content_for :section_subtitle do %>
  Site Settings
<% end %>

<div class='dashboard-container'>
  <%= render 'admins/dashboard_sidebar' %>
  <div class='dashboard-content'>
    <div class='dashboard-item-container'>
      <h3>
        Update Site Settings
      </h3>
    </div>
    <div class='dashboard-item-container'>
      <%= render partial: 'application/system_messages'%>
    </div>
    <div class='dashboard-item-container'>
      <%= render 'admin/site_settings/update_form'%>
    </div>
    <div class='dashboard-item-separator'></div>
  </div>
</div>
