// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'main';

.homepage_container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding: 50px 5px 0px 5px;
  overflow-y: scroll;
}

.homepage_item {
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 100%;
  height: 350px;
  border: 5px solid white;
  @include respond-to(tablet) {
    min-width: 50%;
    max-width: 50%;
  }
  @include respond-to(desktop) {
    min-width: 50%;
    max-width: 50%;
  }

  img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

#projects_image {
  object-position: 0% 50%;
}

#say_hello_image {
  object-position: 50% 0%;
}