@import 'main';

.nav_title {
  font-family: 'RobotoTitle', Fallback, sans-serif;
  color: white;
  font-size: 25px;
  font-weight: 450;
  letter-spacing: 0.06em;
}

@include respond-to(small) {
  .nav_title {
    font-size: 28px;
  }
}

@include respond-to(large) {
  .nav_title {
    font-size: 30px;
  }
}