// Modules
@use '../base/colors';
@use '../base/mixins' as *;
@use '../base/typography';

.about-contact-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  position: relative;
  width: 100%;

  @include respond-to(tablet) {
    flex-direction: column;
    float: right;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 300px;
  }

  .profile-image {
    width: 50%;

    @include respond-to(tablet) {
      width: 100%;
    }
  }
}

.about-contact-details-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  position: relative;
  width: 50%;

  @include respond-to(tablet) {
    margin-top: 10px;
    padding-left: 0;
    width: 100%;

    .name {
      font-size: 1.3em;
    }

    .location {
      font-size: 1.1em;
    }
  }

  .name {
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .location {
    font-size: 1em;
  }
}

.about-contact-links-section {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  position: relative;
  width: 100%;

  a {
    display: inline;
    line-height: 1em;
    padding: 5px;

    + * {
      margin-left: 10px;
    }
  }

  .about-contact-link {
    flex: 0 1 50%;
    height: fit-content;
    padding: 15px 0;

    + * {
      margin-left: 20px;
    }
  }
}
