// Modules
@use '../base/colors';
@use '../base/mixins' as *;
@use '../base/typography';


.contact-details-container {
  position: relative;
  width: 100%;
  @include respond-to(tablet) {
    width: unset;
  }

  .about-contact-container {
    margin: 0;
  }
}

.contact-form-container {
  flex: 0 1 600px;
}

.embedded-text-area.contact {
  min-height: 200px;
  min-width: initial;
}

.embedded-form-entry-container.contact {
  margin: 0;

  @include respond-to(tablet) {
    margin: 20px 0;
  }
}

.contact-details-container .about-contact-details-container {
  box-sizing: border-box;
  padding-left: 10px;

  @include respond-to(tablet) {
    padding-left: 5px;
  }

  .name {
    font-size: 1.6em;
  }

  .location {
    font-size: 1.2em;
  }
}

.contact-form-container .embedded-label {
  width: 26%;
}

.recaptcha.contact {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 0;
}

#contact-messages-new-form {
  padding: 20px 0;
  @include respond-to(tablet) {
    padding-left: 20px;
  }
}
