<% if content_for?(:typed_header) %>
  <h1 data-controller="typed-header">
    <div class="hidden" id="typed-strings-header" >
      <p> 
        <%= yield(:typed_header) %>
      </p>
    </div>
    <span id="typed-header" data-target="typed-header.typedHeader"></span>
    <br>
    <div class="hidden" id="typed-strings-subtitle">
      <p> 
        <%= yield(:typed_header_sub) %>
      </p>
    </div>
    <span class="subtitle" id="typed-subtitle" data-target="typed-header.typedSubtitle"></span>
  </h1> 
<% else %>
  <h1>
    <%= yield :section_title %>
    <div class='subtitle'>
      <%= yield :section_subtitle %>
    </div>
  </h1>
<% end %>