<nav class='navbar'>
  <div class='nav_title_container'>
    <a href='/'>Chris Wood</a>
  </div>
  <div class='nav_menu'>
    <div class='nav_menu_icon'>
      <%= image_tag 'nav/nav_icon.svg' %>
    </div>
    <div class='nav_menu_items'>
      <div class='nav_menu_item_container'>
      </div>
    </div>
  </div>
</nav>