<nav class='navbar'>
  <div class='nav_title_container'>
    <a href='/'>Chris Wood</a>
  </div>
  <div class='nav_menu'>
    <div class='hamburger_container'>
      <div class='hamburger'>
        <div class='hamburger_bar' id='hamburger_crown'></div>
        <div class='hamburger_bar' id='hamburger_patty'></div>
        <div class='hamburger_bar' id='hamburger_heel'></div>
      </div>
    </div>
    <div class='nav_item_container'>
      <a href='/'>
        <span class='nav_item'>
          <span>HOME</span>
        </span>
      </a>
      <div class='nav_item_separator'></div>
      <a href='/about'>
        <span class='nav_item'>
          <span>ABOUT</span>
        </span>
      </a>
      <div class='nav_item_separator'></div>
      <a href='/projects'>
        <span class='nav_item'>
          <span>PROJECTS</span>
        </span>
      </a>
      <div class='nav_item_separator'></div>
      <a href='/blog'>
        <span class='nav_item'>
          <span>BLOG</span>
        </span>
      </a>
      <div class='nav_item_separator'></div>
      <a href='/say-hello'>
        <span class='nav_item'>
          <span>SAY HELLO</span>
        </span>
      </a>
      <div class='nav_item_separator'></div>
      <a href='/gallery'>
        <span class='nav_item'>
          <span>GALLERY</span>
        </span>
      </a>
      <div class='nav_item_separator'></div>
      <a href='/contact'>
        <span class='nav_item'>
          <span>CONTACT</span>
        </span>
      </a>
      <div class='nav_item_separator'></div>
    </div>
  </div>
</nav>