<nav class='navbar'>
  <div class='nav_title_container'>
    <a href='/'><%= @site_settings.name %></a>
  </div>
  <% if @user %>
    <div class='username'>
      <a href='/admin'>
        <%= @user.username %>
      </a>
    </div>
  <% end %>
  <div class='nav_menu' data-controller='nav-menu' data-nav-menu-open='false'>
    <div class='hamburger_container' data-action='click->nav-menu#menuToggle' data-target='nav-menu.navHamburger'>
      <div class='hamburger'>
        <div class='hamburger_bar' id='hamburger_crown'></div>
        <div class='hamburger_bar' id='hamburger_patty'></div>
        <div class='hamburger_bar' id='hamburger_heel'></div>
      </div>
    </div>
    <div class='nav_sidebar' data-target='nav-menu.navSidebar'>
      <div class='upper'>
        <div class='nav_item_separator'></div>
        <a href='/' class='nav_item'>
          HOME
        </a>
        <div class='nav_item_separator'></div>
        <a href='/about' class='nav_item'>
          ABOUT
        </a>
        <div class='nav_item_separator'></div>
        <a href='/projects' class='nav_item'>
          PROJECTS
        </a>
        <div class='nav_item_separator'></div>
        <a href='/blog' class='nav_item'>
          BLOG
        </a>
        <div class='nav_item_separator'></div>
        <a href='/say-hello' class='nav_item'>
          SAY HELLO
        </a>
        <div class='nav_item_separator'></div>
        <a href='/gallery' class='nav_item'>
          GALLERY
        </a>
        <div class='nav_item_separator'></div>
        <a href='/contact' class='nav_item'>
          CONTACT
        </a>
        <div class='nav_item_separator'></div>
      </div>
      <div class='lower'>
        <div class='nav_item_separator'></div>
        <% if @user %>
        <a href='/admin' class='nav_item'>
          ADMIN
        </a>
        <div class='nav_item_separator'></div>
        <%= form_with(url: "/login", method: "delete", class: 'logout_form') do %>
          <%= submit_tag("LOGOUT", class: 'nav_item', id: 'logout-button') %>
        <% end %>
        <% else %>
        <a href='/login' class='nav_item' id='login-button'>
          LOGIN
        </a>
        <% end %>
        <div class='nav_item_separator'></div>
      </div>
    </div>
    <div class='nav_screen_cover' data-action='click->nav-menu#closeMenu'></div>
  </div>
</nav>