<div class="system_messages">
  <% flash.each do |type, msg| %>
    <% if msg.kind_of?(Array) %>
      <% msg.each do |i| %>
        <div class='<%= type %>'><%= i %></div>
      <% end %>
    <% else %>
      <div class='<%= type %>'><%= msg %></div>
    <% end %>
  <% end %>
</div>